

.dashboard {
  width: 100%;
  height: 100%;
  .dashboard-items {
    width: 100%;
    height: 100%;
    .dashboard-item {
      width: 100%;
      height: 94vh;
      background-size: cover;
      background-position: center;
      box-shadow: 0 0 5px 5px #ccc;
      margin: 15px;
      animation-name: slide-from-up;
      animation-duration: .4s;
    }
  }
}

@keyframes slide-from-up {
  from {
    transform: rotateY(-20%);
  }
  to {
    transform: rotateY(0);
  }
}
