@import "../../assets/theme";

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  width: 100vw;
  height: 6vh;
  color: $primary;


  .navbar-container {

    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
      text-indent: 3px;
      color: $secondary;
      transition: transform .3s ease;
      &:hover {
        text-decoration: none;
        transform: translateX(5px);
      }
    }

    .navbar-nav {

      a.nav-link {
        transition: width .3s ease;
        text-decoration: none;
        position: relative;
        &::before {
          content: '';
          opacity: 0;
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $secondary;
          animation-name: underlineAnimOut;
          animation-duration: .3s;
          animation-fill-mode: forwards;
        }

        &:hover {
          color: $secondary;
          &::before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $secondary;
            animation-name: underlineAnimIn;
            animation-fill-mode: forwards;
            animation-duration: .3s;
          }
        }
      }
    }
  }
}

@keyframes underlineAnimIn {
  from {
    width: 0;
    opacity: .9;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes underlineAnimOut {
  from {
    width: 100%;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: .9;
  }
}
