@import "src/assets/theme";

.landing {
  width: 100%;
  flex: 1;

  section.carousel-section {
    width: 100%;
    height: 500px;
    margin: 0 auto;

    #mebelli-carousel {
      height: 100%;

      .carousel-section-item {
        height: 100%;
      }

      .slick-prev:before {
        color: $secondary;
      }

      .slick-next:before {
        color: $secondary;
      }


      .carousel-item-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;

        .carousel-item-text {
          display: inline-block;
          padding: 2px 15px;
          color: black;
          background-color: white;
          position: absolute;
        }

        .carousel-item-title {
          font-size: 22px;
          max-width: 250px;
          text-align: left;
          top: 55px;
          left: 75px;
        }

        .carousel-item-description {
          font-size: 22px;
          max-width: 250px;
          text-align: right;
          bottom: 55px;
          right: 75px;
        }
      }
    }
  }
}

@keyframes slide-from-up {
  from {
    transform: rotateY(-20%);
  }
  to {
    transform: rotateY(0);
  }
}


.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}
